*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#A5BBDC;

}
header{
    background-color: #222933;
}
.container{
    max-width: 1240px;
}

.connections{
    background-color: #131A20;
}
.navbar-nav{
    margin-left:300px !important;
    
}
.nav-link{
    color:#A5BBDC;
    text-decoration: none;
}
.search-box{
    width: 15%;
}
.violet-section{
    background-color:rgb(46,41,63);
}
.vl{
    height: 35px;
    padding-left: 10px;
    color:#A5BBDC;
}
.vl-violet{
    border-left: 8px solid rgb(155,89,182);
}
.vl-blue{
    border-left: 8px solid #02B0E4;
}
.violet-control {
    height:5em;
    width: 3em;
    /* outline: black; */
    background-color: rgba(155,89,182, 0.8);
    background-size: 100%, 100%;
}
#carouselExampleInterval .carousel-item img{
    height: 650px;
    max-height: 650px;
}
.mainfilms{
    background-color: #161D25;
}
.mainfilms .carousel-item .card {
    background-color: #1D232C;
}
@media screen and (min-width: 576px) {
    .mainfilms .carousel-inner {
        display:flex;
    }
    .mainfilms  .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
}
.img-wrapper {
    max-width: 100%;
}
.card {
    margin: 0 .5em;
}

